body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(paper.jpg);
    background-repeat: repeat;
}

header {
    background-image: url(bliss.jpg);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    border: solid black;
}

.logo-container {
    margin-right: 20px;
}

.logo-container img {
    height: 50px;
}

.search-section {
    text-align: center;
    margin: 20px 0;
}

input {
    padding: 10px;
    font-size: 14px;
}

.search-button {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

.splash-section {
    text-align: center;
    color: #333;
    background-color: #b2bdc4bb;
    display: block;
}

.cta-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.navigation {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 10px;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 0.5px;
    background-color: rgb(115, 120, 120);
    color: #fff;
}