body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(paper.jpg);
    background-attachment: fixed;
}

/* Header Styles */
header {
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    margin-right: 20px; /* Adjust as needed for spacing */
}

.logo-container img {
    height: 50px; /* Adjust as needed for the logo size */
}

/* Search Section Styles */
.search-section {
    display: flex;
    gap: 10px;
}

.splash-section {
    text-align: center;
    color: #333;
}

.cta-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Navigation Styles */
.navigation {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Main Content Styles */
main {
    padding: 20px;
}

/* Footer Styles */
footer {
    margin-top: auto;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
